<%- include('includes/header') %>

<body>
  <div class="group_name">
    <ul class="nav justify-content-center">
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link active" style="color: white" href="/resto">Home</a>
      </li>

      <% if(!member) { %>
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link active" style="color: white" href="/resto/sign-up"
          >Signup</a
        >
      </li>
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link" style="color: white" href="/resto/login">Login</a>
      </li>

      <% }else if(member.mb_type==="ADMIN") { %>
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link" style="color: white" href="/resto/all-users"
          >AllResto</a
        >
      </li>
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link" style="color: white" href="/resto/all-products"
          >My Products</a
        >
      </li>
      <li
        class="nav-item"
        style="cursor: pointer"
        onclick="return confirm('Dou you want to logout?')">
        <a class="nav-link" style="color: white" href="/resto/logout">Logout</a>
      </li>

      <% }else { %>
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link" style="color: white" href="/resto/products/user"
          >My Products</a
        >
      </li>
      <li
        class="nav-item"
        style="cursor: pointer"
        onclick="return confirm('Dou you want to logout?')">
        <a class="nav-link" style="color: white" href="/resto/logout">Logout</a>
      </li>
      <% } %>
    </ul>
  </div>

  <div class="wrapper"></div>

  <script>
    const wrapperEl = document.querySelector(".wrapper");
    const numberOfEls = 90;
    const duration = 6000;
    const delay = duration / numberOfEls;

    let tl = anime.timeline({
      duration: delay,
      complete: function () {
        tl.restart();
      },
    });

    function createEl(i) {
      let el = document.createElement("div");
      const rotate = (360 / numberOfEls) * i;
      const translateY = -50;
      const hue = Math.round((360 / numberOfEls) * i);
      el.classList.add("el");
      el.style.backgroundColor = "hsl(" + hue + ", 40%, 60%)";
      el.style.transform =
        "rotate(" + rotate + "deg) translateY(" + translateY + "%)";
      tl.add({
        begin: function () {
          anime({
            targets: el,
            backgroundColor: [
              "hsl(" + hue + ", 40%, 60%)",
              "hsl(" + hue + ", 60%, 80%)",
            ],
            rotate: [rotate + "deg", rotate + 10 + "deg"],
            translateY: [translateY + "%", translateY + 10 + "%"],
            scale: [1, 1.25],
            easing: "easeInOutSine",
            direction: "alternate",
            duration: duration * 0.1,
          });
        },
      });
      wrapperEl.appendChild(el);
    }

    for (let i = 0; i < numberOfEls; i++) createEl(i);
  </script>
</body>

<%- include('includes/footer') %>
